* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  font-family: "Edu TAS Beginner", sans-serif;
  background-image: url(../img/wall.png);
  height: 150px;
  line-height: 150px; 
  text-align: center;
  position: fixed;
  z-index: 800;
  width: 100%;
}
header #title {
  font-size: 8rem; 
  font-weight: bold;
  vertical-align: middle;
}
body {
  position: relative;
}
main {
  padding-top: 150px;
  background-image: url(../img/cork.png);
}
#container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  font-family: "Sometype Mono", monospace;
  background-color: white;
  flex-basis: calc((100% / 3) - (4rem / 3));
  position: relative;
}
.card figure {
  padding: 20px;
  max-width: 600px;
  max-height: 600px;
}
.card img {
  max-width: 100%;
}

.card figcaption {
  padding: 0 20px 20px 20px;
}
.card #pin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  z-index: 900;
  text-align: center;
  padding: 30px;
}

#overlay button{
font-size:xx-large;
margin-bottom: 20px;
padding: 10px;
border-radius: 10px;
}
#overlay img {
  max-width: 600px;
}

.disactive {
  display: none;
}
.hidden {
  overflow: hidden;
}
/* RESPONSIVE */

/*Tablet*/
@media screen and (max-width: 820px) {
  .card {
    flex-basis: calc((100% / 2) - (2rem / 2));
  }
  header {
    height: 120px;
    line-height: 120px;
  }
  header #title {
  font-size: 6rem;
  } 
  main {
    padding-top: 120px ;
  }
}

/*mobile*/
@media screen and (max-width: 507px) {
  .card {
    flex-basis: 100%;
  }
    header {
    height: 100px;
    line-height: 100px;
  }
  header #title {
  font-size: 4rem;
  } 
  main {
    padding-top: 100px ;
  }
}

/* mini-mobile*/

@media screen and (max-width: 440px) {
  header {
    display: none;
  }

  main {
    padding: 30px 0;
  }
}


/*altezza*/
@media screen and (max-height: 500px) {
    header {
    height: 100px;
    line-height: 100px;
    position: static;
  }
  header #title {
  font-size: 4rem;
  } 
  main {
    padding: 30px 0;
  }
}

