* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Edu TAS Beginner", sans-serif;
  background-image: url(../img/wall.png);
  /*con altezza adattata al vh*/
  height: 20vh;
  line-height: 20vh;
  /* oppure con altezza fissa*/
  /* height: 150px;
  line-height: 150px; */
  text-align: center;
  position: fixed;
  z-index: 900;
  width: 100vw;
}
header #title {
  /*con altezza adattata al vh*/
  font-size: 12vh;
  /* oppure con altezza fissa*/
  /* font-size: 120px; */
  font-weight: bold;
  vertical-align: middle;
}
main {
  padding-top: 20vh;
  background-image: url(../img/cork.png);
  min-height: 100vh;
  height: 100%;
}
#container {
  padding: 30px 10vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  font-family: "Sometype Mono", monospace;
  background-color: white;
  flex-basis: calc((100% / 3) - (4rem / 3));
  position: relative;
}
.card figure {
  padding: 20px;
  max-width: 600px;
  max-height: 600px;
}
.card img {
  max-width: 100%;
}

.card figcaption {
  padding: 0 20px 20px 20px;
}
.card #pin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

/* RESPONSIVE */

/*Tablet*/
@media screen and (max-width: 820px) {
  .card {
    flex-basis: calc((100% / 2) - (2rem / 2));
  }
}

/*mobile*/
@media screen and (max-width: 507px) {
  .card {
    flex-basis: 100%;
  }
}

/* mini-mobile*/

@media screen and (max-width: 440px) {
  header {
    display: none;
  }
  main {
    padding: 0;
  }
}
